<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ar.edu.librex.ui"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <!-- importante para acceder a los contactos -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="ar.edu.librex.ui.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ar.edu.librex.ui.VerLibrosActivity"
            android:label="@string/title_ver_libros"
            android:parentActivityName="ar.edu.librex.ui.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ar.edu.librex.ui.MainActivity" />
        </activity>
        <!-- <activity -->
        <!-- android:name="ar.edu.librex.ui.BookActivity" -->
        <!-- android:label="@string/title_activity_book" > -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->


        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name="ar.edu.librex.ui.LibroListActivity"
            android:label="@string/title_libro_list" >
        </activity>
        <activity
            android:name="ar.edu.librex.ui.LibroDetailActivity"
            android:label="@string/title_libro_detail"
            android:parentActivityName=".LibroListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LibroListActivity" />
        </activity>
        <activity
            android:name="ar.edu.librex.ui.NuevoPrestamo"
            android:label="@string/title_activity_nuevo_prestamo" >
        </activity>
    </application>

</manifest>